<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CONSTR" connectionString="server=LIMOS; uid=sa; pwd=123qweAadmin; database=DEV_ClaimatePrimeHMO; Connection Timeout=2147483647;"/>
  </connectionStrings>
  <appSettings>
    <add key="FILE_SERVER_ROOT_DIR" value="\\LIMOS\SoftwareUpload\ClaimatePrimeHMO\DEV_INDIA\Uploads" />
    <add key="FORM_TITLE" value="Claimate Prime - Excel Export Service"/>

    <add key="SP_GET_USERS" value="[User].[usp_GetXmlAll_User]"/>
    <add key="SP_NXT_ID" value="[dbo].[usp_GetNext_Identity]"/>
    <add key="SP_UR_INSERT" value="[Audit].[usp_Insert_UserReport]"/>
    <add key="SP_UR_UPDATE" value="[Audit].[usp_Update_UserReport]"/>
    <add key="SP_UR_DELETE" value="[Audit].[usp_GetXmlDelete_UserReport]"/>
    <add key="SP_GET_UC" value="[User].[usp_GetXmlClinic_UserClinic]"/>
    <add key="SP_GET_PR" value="[Billing].[usp_GetXmlProvider_Provider]"/>
    <add key="SP_GET_PA" value="[Patient].[usp_GetXmlPatient_Patient]"/>
    <add key="SP_GET_ID_UC" value="[Billing].[usp_GetXmlClinicID_Clinic]"/>
    <add key="SP_GET_ID_PR" value="[Billing].[usp_GetXmlProviderID_Provider]"/>
    <add key="SP_GET_ID_PA" value="[Patient].[usp_GetXmlPatientID_Patient]"/>
    <add key="SP_GET_UN" value="[User].[usp_GetXmlNameByID_User]"/>
    <add key="DAY_STS" value="[Audit].[usp_GetXmlDayStatus_UserReport]"/>

    <!--The follwing keys 'SP_RTID...' is hard coded in the stored procedure '[Audit].[usp_Insert_UserReport]' and c sharp inside codes also-->
    <add key="SP_RTID_1" value="[Patient].[usp_GetXmlReportClinic_PatientVisit]"/>
    <add key="SP_RTID_1_FTDT" value="[Patient].[usp_GetXmlReportClinicDt_PatientVisit]"/>
    <add key="SP_RTID_1_ROID" value="[Patient].[usp_GetXmlReportClinicWise_PatientVisit]"/>
    <add key="SP_RTID_1_ROID_FTDT" value="[Patient].[usp_GetXmlReportClinicWiseDt_PatientVisit]"/>

    <add key="SP_RTID_2" value="[Patient].[usp_GetXmlReportProvider_PatientVisit]"/>
    <add key="SP_RTID_2_FTDT" value="[Patient].[usp_GetXmlReportProviderDt_PatientVisit]"/>
    <add key="SP_RTID_2_ROID" value="[Patient].[usp_GetXmlReportProviderWise_PatientVisit]"/>
    <add key="SP_RTID_2_ROID_FTDT" value="[Patient].[usp_GetXmlReportProviderWiseDt_PatientVisit]"/>

    <add key="SP_RTID_3" value="[Patient].[usp_GetXmlReportPatient_PatientVisit]"/>
    <add key="SP_RTID_3_FTDT" value="[Patient].[usp_GetXmlReportPatientDt_PatientVisit]"/>
    <add key="SP_RTID_3_ROID" value="[Patient].[usp_GetXmlReportPatientWise_PatientVisit]"/>
    <add key="SP_RTID_3_ROID_FTDT" value="[Patient].[usp_GetXmlReportPatientWiseDt_PatientVisit]"/>

    <add key="SP_RTID_4" value="[Patient].[usp_GetXmlReportAgent_PatientVisit]"/>
    <add key="SP_RTID_4_FTDT" value="[Patient].[usp_GetXmlReportAgentDt_PatientVisit]"/>
    <add key="SP_RTID_4_ROID" value="[Patient].[usp_GetXmlReportAgentWise_PatientVisit]"/>
    <add key="SP_RTID_4_ROID_FTDT" value="[Patient].[usp_GetXmlReportAgentWiseDt_PatientVisit]"/>

    <add key="EMAIL_SUBJ" value="DEV_INDIA: CLAIMATE PRIME - Excel Export Service Status"/>
    <add key="EMAIL_ADDR1" value="sai.lekshmy@in.arivameddata.com [SAILEKSHMY N G]"/>
    <add key="EMAIL_ADDR2" value="sharon.joseph@in.arivameddata.com [SHARON JOSEPH]"/>
    <!-- EMAIL_ADDR - Can be repeated any number of times by adding post fix unique running numbers-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="softtest@in.arivameddata.com">
        <!--from means bounced emails will come here. Better use username here.-->
        <network host="in.arivameddata.com" port="25" userName="SoftTest" password="$oftTest" defaultCredentials="true" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
</configuration>