<table border="0" cellpadding="4" cellspacing="2" width="90%">
    <tbody>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px">
                Your account has been reset and new credentials are given below.</td>
        </tr>
        <tr>
           <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" colspan="2">
                Sender Details</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                Username :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;" width="80%">
                [01 Username 01]</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                Last Name :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000"
                width="80%">
                [02 LastName 02]</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                First Name :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [03 FirstName 03]</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                vertical-align: top; background-color: #efefef;" width="20%">
                Middle Name</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [04 MiddleName 04]</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                Phone :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [05 Phone 05]</td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                Email :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [06 Email 06]</td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #efefef;" width="20%">
                Password :</td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [07 Password 07]</td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;
                font-weight: bold; color: #5d3482">
               Claimate Prime
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px">
               [u SiteHomeURL u]</td>
        </tr>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px">
                [v SiteVersion v]</td>
        </tr>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px">
                [d Date d]</td>
        </tr>
    </tbody>
</table>
