<table border="0" cellpadding="4" cellspacing="2" width="90%">
    <tbody>
        <tr>
            <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;
                font-weight: bold; background-color: #fcfcfc;">
                Query String Error
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #fcfcfc;" width="20%">
                a) Key :
            </td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [a Key a]
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
                background-color: #fcfcfc;" width="20%">
                b) Value :
            </td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px" width="80%">
                [b Value b]
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>
