<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EFContext" connectionString="metadata=res://*/EFContexts.AdoNetEntityDataModel.csdl|res://*/EFContexts.AdoNetEntityDataModel.ssdl|res://*/EFContexts.AdoNetEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RC-114\SQLEXPRESS;initial catalog=ClaimatePrime;persist security info=True;user id=sa;password=rain;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FileServerRootDir" value="\\192.168.0.25\Network Sharepoint\Sharon\SoftwareUpload\ClaimatePrimeHMO\DEV_INDIA\Uploads" />
    <add key="SiteLogo" value="DEV_dv-sitelogo"/>
    <!--Here root drive only need to exist physhicaly. The remaining folders will be creating by our s/w-->
    <add key="ErrorEmailSend" value="true" />
    <add key="ErrorEmailSubject" value="DEV_INDIA : Claimate Prime : Http Exception" />
    
    <add key="ERR_EMAIL_ADDR1" value="varun.venugopal@in.arivameddata.com [VARUN VENUGOPAL]" />
    <add key="ERR_EMAIL_ADDR2" value="amala.tresa@in.arivameddata.com [AMALA TRESA]" />
    <add key="ERR_EMAIL_ADDR3" value="ritu.achuthan@in.arivameddata.com [RITU ACHUTHAN]" />
    <add key="ERR_EMAIL_ADDR4" value="ratheesh.raveendran@in.arivameddata.com [RATHEESH RAVEENDRAN]" />
    <add key="ERR_EMAIL_ADDR5" value="sai.lekshmy@in.arivameddata.com [SAILEKSHMY N G]"/>
    <add key="ERR_EMAIL_ADDR6" value="sharon.joseph@in.arivameddata.com [SHARON JOSEPH]"/>
    <!-- ERR_EMAIL_ADDR - Can be repeated any number of times by adding post fix unique running numbers-->
    
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="8115;True;4356;1;-8588394975191760527" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="51200" />
    <!--51200 - 50 MB-->
    <sessionState mode="SQLServer" timeout="3" cookieless="AutoDetect" sqlConnectionString="server=LIMOS;uid=sa;pwd=123qweAadmin;" />
    <!-- timeout="3" is enough. the clock will extend the timeout until browser close-->
    <authentication mode="Forms">
      <!--http://msdn.microsoft.com/en-us/library/ff647070.aspx-->
      <forms
           loginUrl="~/PreLogIn/LogIn/0/0/"
           defaultUrl="~/Home/Search/0/0/"
           protection="All"
           timeout="7" 
           name=".CP_DEV_INDIA_AUTHASPX"
           path="/"
           requireSSL="false"
           slidingExpiration="true"
           cookieless="AutoDetect"
           enableCrossAppRedirects="false" />
      <!-- forms timeout is almost more than double of session timeout -->
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="ClaimatePrimeControllers.SecuredFolder.CustomErrors.ArivaErrors" name="ArivaErrors" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <!--http://stackoverflow.com/questions/10361200/css-defined-font-not-found-->
      <!--http://www.localwisdom.com/blog/2011/10/iis-7-web-config-change-for-html5-and-css3-mime-types/-->
      <!--http://stackoverflow.com/questions/12607571/how-to-use-font-face-to-read-font-files-in-umbraco-->
      <remove fileExtension=".eot" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ttf" mimeType="font/opentype" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="softtest@in.arivameddata.com">
        <!--from means bounced emails will come here. Better use username here.-->
        <network host="in.arivameddata.com" port="25" userName="SoftTest" password="$oftTest" defaultCredentials="true" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
</configuration>