

<div class="dv-shadowline-chart">
</div>
<div class="dv-chart-left">
    <h3>@Resources.ClaimatePrimeWebResx.LeadingAgents
    </h3>
    <div id="divPie">
    </div>
</div>
<div class="dv-chart-right">
    <h3>@Resources.ClaimatePrimeWebResx.TrailingAgents
    </h3>
    <div id="divDoughnut">
    </div>
</div>
