
<div id="divNotes" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aNotesE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Notes');" class="aExpand">@Resources.ClaimatePrimeWebResx.Notes</a>
        <a href="#" id="aNotesC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Notes');" class="aCollapse">@Resources.ClaimatePrimeWebResx.Notes</a>
    </div>
    <div id="divNotesC" style="display: none;" title="" class="dv-bdr">
       </div>
</div>

