<div id="divPrevVisits" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aPrevVisitsE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('PrevVisits');" class="aExpand">@Resources.ClaimatePrimeWebResx.OtherVisits</a>
        <a href="#" id="aPrevVisitsC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('PrevVisits');" class="aCollapse">@Resources.ClaimatePrimeWebResx.OtherVisits</a>
    </div>
    <div id="divPrevVisitsC" style="display: none;" title="">
    </div>
</div>
