<div id="divPatientDoc" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aPatientDocE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('PatientDoc');" class="aExpand">@Resources.ClaimatePrimeWebResx.PatDocuments</a>
        <a href="#" id="aPatientDocC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('PatientDoc');" class="aCollapse">@Resources.ClaimatePrimeWebResx.PatDocuments</a>

    </div>
    <div id="divPatientDocC" style="display: none;" title="" class="dv-bdr">
    </div>
</div>
