@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;

<div id="divVisitdoc" class="dv-full-Visitdoc-mgmnt">

    <div>
        <a href="#" id="aVisitdocE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Visitdoc');" class="aExpand">@Resources.ClaimatePrimeWebResx.VisitDocument</a>
        <a href="#" id="aVisitdocC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Visitdoc');" class="aCollapse">@Resources.ClaimatePrimeWebResx.VisitDocument</a>
    </div>
    <div id="divVisitdocC" style="display: none;" title="" class="dv-bdr"></div>
</div>
