<div id="divFacilityDone" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aFacilityDoneE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('FacilityDone');" class="aExpand">@Resources.ClaimatePrimeWebResx.FacilityDone</a>
        <a href="#" id="aFacilityDoneC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('FacilityDone');" class="aCollapse">@Resources.ClaimatePrimeWebResx.FacilityDone</a>

    </div>
    <div id="divFacilityDoneC" style="display: none;" title="" class="dv-bdr">
    </div>
</div>
