<div id="divInsurance" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aInsuranceE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Insurance');" class="aExpand">@Resources.ClaimatePrimeWebResx.Insurance</a>
        <a href="#" id="aInsuranceC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Insurance');" class="aCollapse">@Resources.ClaimatePrimeWebResx.Insurance</a>

    </div>
    <div id="divInsuranceC" style="display: none;" title="" class="dv-bdr">
       
    </div>
</div>
