<div id="divIpa" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aIpaE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Ipa');" class="aExpand">@Resources.ClaimatePrimeWebResx.IPA</a>
        <a href="#" id="aIpaC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Ipa');" class="aCollapse">@Resources.ClaimatePrimeWebResx.IPA</a>
    </div>
    <div id="divIpaC" style="display: none;" title="" class="dv-bdr">
        <div id="divIPATable">
        </div>
    </div>
</div>
