<div id="divProvider" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aProviderE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Provider');" class="aExpand">@Resources.ClaimatePrimeWebResx.ReferringProvider</a>
        <a href="#" id="aProviderC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Provider');" class="aCollapse">@Resources.ClaimatePrimeWebResx.ReferringProvider</a>

    </div>
    <div id="divProviderC" style="display: none;" title="" class="dv-bdr">
        <div id="divProviderTable"></div>
    </div>
</div>
