<div id="divClinic" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aClinicE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Clinic');" class="aExpand">@Resources.ClaimatePrimeWebResx.Practice</a>
        <a href="#" id="aClinicC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Clinic');" class="aCollapse">@Resources.ClaimatePrimeWebResx.Practice</a>

    </div>
    <div id="divClinicC" style="display: none;" title="" class="dv-bdr">
    </div>
</div>
