<div id="divClaim" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aClaimE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Claim');" class="aExpand">@Resources.ClaimatePrimeWebResx.ClaimStatus</a>
        <a href="#" id="aClaimC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Claim');" class="aCollapse">@Resources.ClaimatePrimeWebResx.ClaimStatus</a>

    </div>
    <div id="divClaimC" style="display: none;" title="" class="dv-bdr">
        <div id="divVisitStatus"></div>
        <div id="divClaimProcessStatus">
        </div>

    </div>
</div>