<div id="divSettings" class="dv-full-claim-mgmnt">
    <div>
        <a href="#" id="aSettingsE" title="@Resources.ClaimatePrimeWebResx.Expand" onclick="javascript:return expandPnlDiv('Settings');" class="aExpand">@Resources.ClaimatePrimeWebResx.EDIReceiver</a>
        <a href="#" id="aSettingsC" title="@Resources.ClaimatePrimeWebResx.Collapse" style="display:none;" onclick="javascript:return collapsePnlDiv('Settings');" class="aCollapse">@Resources.ClaimatePrimeWebResx.EDIReceiver</a>

    </div>
    <div id="divSettingsC" style="display: none;" title="" class="dv-bdr">
        <div id="divEDISettingsTable">
        </div>
    </div>
</div>
