<div id="divWindowTop" class="dv-clock">
    <label id="liHour">
    </label>
    <label>
        :</label>
    <label id="liMinute">
    </label>
    <label>
        :</label>
    <label id="liSecond">
    </label>
</div>
<div class="dv-date">
    <label id="liDayName">
    </label>
    <label>-</label>
    <label id="liDay">
    </label>
    <label id="liMonthName">
    </label>
    <label id="liYear">
    </label>
</div>
