<div id="divSearchResult"></div>
<div id="divaSearchResult"><a id="aSearchResult" href="#" style="display: none;" onclick="javascript:return loadSearchResult();" class="aShow-more">@Resources.ClaimatePrimeWebResx.ShowMore</a></div>
<div id="divSearchLoading" class="dv-search-loading" style="display: none;"></div>
