@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}
@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeModels.Models;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;

@model ClaimatePrimeModels.Models.UserReportSearchModel


<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("RptPatientWise","PatientDash"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading('');">
        </a></li>
        <li>@Resources.ClaimatePrimeWebResx.MRARpt</li>
    </ul>
</div>
@Html.Partial("UserControls/PageHeaderSub")
<div class="dv-block">
    <div class="dv-mra-wrap">
        <table class="table-h">
            <tr class="tr-head">
                <td>
                    2008
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
        </table>
    </div>
    <div class="dv-mra-wrap">
        <table class="table-h">
            <tr class="tr-head">
                <td>
                    2009
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
        </table>
    </div>
    <div class="dv-mra-wrap">
        <table class="table-h">
            <tr class="tr-head">
                <td>
                    2010
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
        </table>
    </div>
    <div class="dv-mra-wrap">
        <table class="table-h">
            <tr class="tr-head">
                <td>
                    2011
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
        </table>
    </div>
    <div class="dv-mra-wrap">
        <table class="table-h">
            <tr class="tr-head">
                <td>
                    2012
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row1">
                <td>
                    000.00
                </td>
            </tr>
            <tr class="tr-row2">
                <td>
                    000.00
                </td>
            </tr>
        </table>
    </div>
</div>
