INSERT INTO [User].[UserHistory] SELECT * FROM [User].[User] WHERE [UserName] IN ('sunil','SunilK') ;

UPDATE [User].[User] SET [UserName] = 'ClaimReview', [Password] = 'ClaimReview', [Email] = 'claimreview@arivameddata.com', [LastName] = 'Saju', [FirstName] = 'Kumar', [MiddleName] = 'Claim Review', [PhoneNumber] = '(984)646-6983', [Comment] = N'Replacement of Mr. Sunil Kumar by Manu advice dated ' + CONVERT(NVARCHAR, GETDATE(), 13) WHERE [UserName] = 'SunilK'

UPDATE [User].[User] SET [UserName] = 'saju', [Password] = 'saju', [Email] = 'saju.kumar@in.arivameddata.com', [LastName] = 'Saju', [FirstName] = 'Kumar', [MiddleName] = NULL, [PhoneNumber] = '(984)646-6983', [Comment] = N'Replacement of Mr. Sunil Kumar by Manu advice dated ' + CONVERT(NVARCHAR, GETDATE(), 13) WHERE [UserName] = 'Sunil'