<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CONSTR" connectionString="server=LIMOS; uid=sa; pwd=123qweAadmin; database=DEV_ClaimatePrimeHMO; Connection Timeout=2147483647;"/>
  </connectionStrings>
  <appSettings>
    <add key="FILE_SERVER_ROOT_DIR" value="\\192.168.0.25\Network Sharepoint\Sharon\SoftwareUpload\ClaimatePrimeHMO\DEV_INDIA\Uploads" />
    <add key="FORM_TITLE" value="Claimate Prime - Sync Service"/>
    <add key="DT_TM_SP" value="[dbo].[usp_GetTime_Server]"/>
    <add key="LAST_SYNC" value="[Audit].[usp_GetLastStatus_SyncStatus]"/>
    <add key="SYNC_START" value="[Audit].[usp_Insert_SyncStatus]"/>
    <add key="SYNC_END" value="[Audit].[usp_Update_SyncStatus]"/>
    <add key="SYNC_BY" value="[User].[usp_GetNameBySync_User]"/>
    
    <add key="UPDATE_SPNAME1" value="[Claim].[usp_GetSetStatus1EOB_ClaimProcess]"/>
    <add key="UPDATE_SPNAME2" value="[Claim].[usp_GetSetStatus2EDI_ClaimProcess]"/>
    <add key="UPDATE_SPNAME3" value="[Claim].[usp_GetSetStatus3QA_ClaimProcess]"/>
    <add key="UPDATE_SPNAME4" value="[Claim].[usp_GetSetStatus4BA_ClaimProcess]"/>
    <add key="UPDATE_SPNAME5" value="[Patient].[usp_GetEClinic_Patient]"/>
    <add key="UPDATE_SPNAME6" value="[Patient].[usp_GetMedChek_Patient]"/>
    <!-- UPDATE_SPNAME - Can be repeated any number of times by adding post fix unique running numbers-->
    
    <add key="EMAIL_SUBJ" value="DEV_INDIA: CLAIMATE PRIME - Sync Service Status"/>
    <add key="EMAIL_ADDR1" value="sai.lekshmy@in.arivameddata.com [SAILEKSHMY N G]"/>
    <add key="EMAIL_ADDR2" value="sharon.joseph@in.arivameddata.com [SHARON JOSEPH]"/>
    <!-- EMAIL_ADDR - Can be repeated any number of times by adding post fix unique running numbers-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="softtest@in.arivameddata.com">
        <!--from means bounced emails will come here. Better use username here.-->
        <network host="in.arivameddata.com" port="25" userName="SoftTest" password="$oftTest" defaultCredentials="true" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
</configuration>