/****** Object:  Table [dbo].[PatientMedicare]    Script Date: 07/23/2013 13:25:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientMedicare]') AND type in (N'U'))
DROP TABLE [dbo].[PatientMedicare]
GO
/****** Object:  Table [dbo].[PatientMedicare]    Script Date: 07/23/2013 13:25:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientMedicare]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PatientMedicare](
	[Insurance_Effect_From] [datetime] NULL,
	[PCP_NAME] [nvarchar](255) NULL,
	[MEDICARE_ID] [nvarchar](255) NULL
) ON [PRIMARY]
END
GO
SET NOCOUNT ON
GO
INSERT [dbo].[PatientMedicare] ([Insurance_Effect_From], [PCP_NAME], [MEDICARE_ID]) VALUES (CAST(0x0000A1B100000000 AS DateTime), N'ROSENTHAL,TODD,K DR', N'261560470A')
INSERT [dbo].[PatientMedicare] ([Insurance_Effect_From], [PCP_NAME], [MEDICARE_ID]) VALUES (CAST(0x0000A1B100000000 AS DateTime), N'BURCHETT,ROBERT,B DR', N'077283766D')
INSERT [dbo].[PatientMedicare] ([Insurance_Effect_From], [PCP_NAME], [MEDICARE_ID]) VALUES (CAST(0x0000A1B100000000 AS DateTime), N'BURCHETT,ROBERT,B DR', N'292144862A')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
SET NOCOUNT OFF
GO
INSERT INTO [Patient].[PatientHistory]
           ([PatientID]
           ,[ClinicID]
           ,[ChartNumber]
           ,[MedicareID]
           ,[LastName]
           ,[MiddleName]
           ,[FirstName]
           ,[Sex]
           ,[DOB]
           ,[SSN]
           ,[ProviderID]
           ,[InsuranceID]
           ,[PolicyNumber]
           ,[GroupNumber]
           ,[PolicyHolderChartNumber]
           ,[RelationshipID]
           ,[IsInsuranceBenefitAccepted]
           ,[IsCapitated]
           ,[InsuranceEffectFrom]
           ,[InsuranceEffectTo]
           ,[PhotoRelPath]
           ,[IsSignedFile]
           ,[SignedDate]
           ,[StreetName]
           ,[Suite]
           ,[CityID]
           ,[StateID]
           ,[CountyID]
           ,[CountryID]
           ,[PhoneNumber]
           ,[SecondaryPhoneNumber]
           ,[Email]
           ,[SecondaryEmail]
           ,[Fax]
           ,[Comment]
           ,[IsActive]
           ,[LastModifiedBy]
           ,[LastModifiedOn]
           ,[CreatedBy]
           ,[CreatedOn])
    
    
SELECT [PatientID]
           ,[ClinicID]
           ,[ChartNumber]
           ,[MedicareID]
           ,[LastName]
           ,[MiddleName]
           ,[FirstName]
           ,[Sex]
           ,[DOB]
           ,[SSN]
           ,[ProviderID]
           ,[InsuranceID]
           ,[PolicyNumber]
           ,[GroupNumber]
           ,[PolicyHolderChartNumber]
           ,[RelationshipID]
           ,[IsInsuranceBenefitAccepted]
           ,[IsCapitated]
           ,[InsuranceEffectFrom]
           ,[InsuranceEffectTo]
           ,[PhotoRelPath]
           ,[IsSignedFile]
           ,[SignedDate]
           ,[StreetName]
           ,[Suite]
           ,[CityID]
           ,[StateID]
           ,[CountyID]
           ,[CountryID]
           ,[PhoneNumber]
           ,[SecondaryPhoneNumber]
           ,[Email]
           ,[SecondaryEmail]
           ,[Fax]
           ,[Comment]
           ,[IsActive]
           ,[LastModifiedBy]
           ,[LastModifiedOn]
           ,[CreatedBy]
           ,[CreatedOn] 
FROM Patient.Patient A WHERE A.PatientID IN(

SELECT A.PatientID 
FROM  Patient.Patient A INNER JOIN dbo.PatientMedicare B ON A.MedicareID = B.[MEDICARE_ID]
WHERE  (A.InsuranceEffectTo IS NULL OR A.InsuranceEffectTo >=  B.Insurance_Effect_From))
GO

UPDATE A
SET A.InsuranceEffectFrom = B.Insurance_Effect_From,
A.Comment ='Excel Migration Update 2',
A.LastModifiedOn = GETDATE()
FROM  Patient.Patient A INNER JOIN dbo.PatientMedicare B ON A.MedicareID = B.[MEDICARE_ID]
WHERE  (A.InsuranceEffectTo IS NULL OR A.InsuranceEffectTo >=  B.Insurance_Effect_From)
GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientMedicare]') AND type in (N'U'))
DROP TABLE [dbo].[PatientMedicare]
GO