@{
    Layout = "~/Views/Shared/MasterPages/Home.cshtml";
}


@using ClaimatePrimeControllers.SecuredFolder.StaticClasses;
@using ClaimatePrimeModels.Models;
@using ClaimatePrimeControllers.SecuredFolder.SessionClasses;

<div class="dv-page-header1">
    <ul class="ul-header">
        <li><a href="@Url.RouteUrl(StaticClass.RouteValues("MenuConfig"))" title="@Resources.ClaimatePrimeWebResx.Back" class="back-button" onclick="javascript:showDivPageLoading();"></a></li>
        <li>@Resources.ClaimatePrimeWebResx.MVC</li>
    </ul>
</div>
<div class="dv-block">
    <ul class="ul-menu">
        <li>
            <div class="dv-uc">This page is under development</div>
        </li>
    </ul>
</div>
