USE [DEV_ClaimatePrimeHMO]
GO
/****** Object:  StoredProcedure [Audit].[usp_Insert_WebCulture]    Script Date: 07/01/2013 22:06:39 ******/
DROP PROCEDURE [Audit].[usp_Insert_WebCulture]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Description:This Stored Procedure is used to INSERT the WebCulture details into the table before rollback.
 
CREATE PROCEDURE [Audit].[usp_Insert_WebCulture]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT 1;
END
GO
