USE [DEV_ClaimatePrimeHMO]
GO
/****** Object:  StoredProcedure [Claim].[usp_Insert_ClaimProcess]    Script Date: 07/01/2013 22:06:40 ******/
DROP PROCEDURE [Claim].[usp_Insert_ClaimProcess]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Claim].[usp_Insert_ClaimProcess]
AS
BEGIN
	SELECT 1;
	-- THESE CONTENTS ARE MOVED TO [Patient].[usp_Update_PatientVisit]
END
GO
