USE [DEV_ClaimatePrimeHMO]
GO
/****** Object:  StoredProcedure [MasterData].[usp_GetNameByID_City]    Script Date: 07/01/2013 22:06:40 ******/
DROP PROCEDURE [MasterData].[usp_GetNameByID_City]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Select the particular record

CREATE PROCEDURE [MasterData].[usp_GetNameByID_City] 
	@CityID	INT
	, @IsActive	BIT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TBL_RES TABLE
	(
		[CityName] NVARCHAR(150) NOT NULL 
		, [ZipCode] NVARCHAR(10) NOT NULL
	);

	INSERT INTO
		@TBL_RES
	SELECT
		[MasterData].[City].[CityName],[MasterData].[City].[ZipCode]
	FROM
		[MasterData].[City]
	WHERE
		@CityID = [MasterData].[City].[CityID]
	AND
		[MasterData].[City].[IsActive] = CASE WHEN @IsActive IS NULL THEN [MasterData].[City].[IsActive] ELSE @IsActive END;
		
	SELECT * FROM @TBL_RES;
	
	-- EXEC [MasterData].[usp_GetByPkIdCityName_City] 1, NULL
	-- EXEC [MasterData].[usp_GetByPkIdCityName_City] 1, 1
	-- EXEC [MasterData].[usp_GetByPkIdCityName_City] 1, 0
END
GO
